---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=tq72hpvtbbd4mue6f23kmsw2&format=json&pageSize=10&show=storeType,name,city,distance,phone
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 10,
          "currentPage": 1,
          "total": 16,
          "totalPages": 2,
          "queryTime": "0.010",
          "totalTime": "0.022",
          "partial": false,
          "canonicalUrl": "/v1/stores(area(\"80202\",25))?show=storeType,name,city,distance,phone&pageSize=10&format=json&apiKey=tq72hpvtbbd4mue6f23kmsw2",
          "stores": [
            {
              "storeType": "Mobile SAS",
              "name": "CHERRY CREEK MALL",
              "city": "DENVER",
              "distance": 3.45,
              "phone": "303-270-9189"
            },
            {
              "storeType": "Big Box",
              "name": "BELMAR CO",
              "city": "LAKEWOOD",
              "distance": 5.31,
              "phone": "303-742-8039"
            },
            {
              "storeType": "Big Box",
              "name": "COLORADO BLVD CO",
              "city": "DENVER",
              "distance": 5.59,
              "phone": "303-758-5805"
            },
            {
              "storeType": "Big Box",
[...]
